.container_16

  .grid_1
    %h4 Quick Links
    = link_to (image_tag 'firehawk.png'), 'http://firehawkcreative.com', :target => "_blank", :class => 'link'
    = link_to (image_tag 'twitter.png'), 'https://twitter.com/JohnBPetersen', :target => "_blank", :class => 'link'
    = link_to (image_tag 'tumblr.png'), 'http://blog.jbp3.com', :class => 'link'
    = link_to (image_tag 'linkedin.png'), 'http://linkedin.com/in/johnbpetersen/', :target => "_blank", :class => 'link'
    = link_to (image_tag 'vizify.png'), 'https://vizify.com/jbp3', :target => "_blank", :class => 'link'
    = link_to (image_tag 'facebook.png'), 'http://www.facebook.com/john.petersen.946', :target => "_blank", :class => 'link'
    = link_to (image_tag 'quora.png'), 'http://www.quora.com/John-B-Petersen-III', :target => "_blank", :class => 'link'
    = link_to (image_tag 'foursquare.png'), 'https://foursquare.com/johnbpetersen', :target => "_blank", :class => 'link'
    = link_to (image_tag 'rebelmouse.png'), 'https://www.rebelmouse.com/jbp3/', :target => "_blank", :class => 'link'
    = link_to (image_tag 'googleplus.png'), 'https://plus.google.com/u/0/112853756040477816085/', :target => "_blank", :class => 'link'
    = link_to (image_tag 'email.png'), 'mailto:john@firehawkcreative.com', :class => 'link'
  
  .grid_5
    %h3 Bio
    %br
    %table.table.table-striped
      %tr  
        %td Name
        %td John B. Petersen III
      %tr  
        %td A.K.A
        %td JBP3, Binge, JPThree
      %tr  
        %td F.K.A.
        %td jonnybp, Bernie, Pete
      %tr
        %td Height
        %td 5' 11.5"
      %tr
        %td Weight
        %td 181-186 lbs
      %tr
        %td Age
        %td 30 going on 12
      %tr
        %td Snowboards
        %td Regular
      %tr
        %td Surfs
        %td Goofy
      %tr
        %td Hometown
        %td Jersey Shore
      %tr
        %td Reads at
        %td 8th Grade Level
      %tr
        %td Preferred Footwear
        %td Rainbow Sandals
      %tr
        %td Intoxicant of Choice
        %td Woodford Reserve
      %tr
        %td Golf Handicap
        %td +30 (on a good day)
      %tr
        %td Favorite Food
        %td Anything with Avocado
    %br
    %br
    %br
  .grid_5
    = image_tag 'avatar.png'

  .grid_4
    %h3 Vital Stats
    %p Product Development
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 95%;"}
    %p Programmer
    .progress.progress-danger.progress-striped.active
      .bar{:style => "width: 20%;"}
    %p Biz Dev
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 84%;"}
    %p Sales
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 90%;"}
    %p Marketing
    .progress.progress-striped.active
      .bar{:style => "width: 73%;"}
    %p Psychologist
    .progress.progress-warning.progress-striped.active
      .bar{:style => "width: 42%;"}
    %p Life Hacker
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 92%;"}
    %p Moves on the Dance Floor
    .progress.progress-danger.progress-striped.active
      .bar{:style => "width: 13%;"}
    %p Beer Pong Skills
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 98%;"}
    %p Learner of New Things
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 77%;"}
    %p Explorer
    .progress.progress-warning.progress-striped.active
      .bar{:style => "width: 49%;"}
    %p Survival Skills
    .progress.progress-success.progress-striped.active
      .bar{:style => "width: 89%;"}