.container_16

  %h1 Please pardon our appearance while I bring this site to life
  %br
  = image_tag 'catlife.gif'
  %br
  %br
  %h1 Like Homer Simpson, this site just gets better with age
  %br
  = image_tag 'homer.gif'
  %br
  %br
  %h1 I'm (slowly) teaching myself to code and learning some new tricks
  %br
  = image_tag 'vlad.gif'
  %br
  %br
  %h1 Gradually, I'll start to add some new features and a bit of polish
  %br
  = image_tag 'big_lebowski.gif'
  %br
  %br
  %h1 Until one day, this site transforms into something crazy
  %br
  = image_tag 'snail.gif'
  %br
  %br
  %h1 P.S. Luckily for everyone, I do not write code at the NYC Dev Shop
  %br
  = image_tag 'ron.gif'
  %br
  %br