.container_16

  #myCarousel.carousel.slide
    / Carousel items
    .carousel-inner
      .active.item
        = image_tag 'nerddream.png'
        .carousel-caption
          %p This was my ultimate nerd dream. Summer 2011 -- Sitting on the beach, moon rising, sun setting, teaching myself to code and drinking wine.
      .item
        = image_tag 'weddingintro.png'
        .carousel-caption
          %p Best wedding intro of all time? I think so...
      .item
        = image_tag 'tracymorgan.png'
        .carousel-caption
          %p Tracy Morgan giving us some advice about the Inaugural NY Tech Day -- "It's all about the results"
      .item
        = image_tag 'baduncle.png'
        .carousel-caption
          %p Apparently, I got caught sleeping on the job. Bad uncle…
      .item
        = image_tag 'vegas.png'
        .carousel-caption
          %p Sometimes, I find myself in situations where I have no right being there. This was one of those times.
      .item
        = image_tag 'dj.png'
        .carousel-caption
          %p Yup. I made the Derek Jeter HBO Special. Best game I've ever been to in my life.
      .item
        = image_tag 'lighthouse.png'
        .carousel-caption
          %p One time, I decided it would be a good idea to run down Island Beach to the inlet. My severely blistered feet did not appreciate that.
      .item
        = image_tag 'kickball.png'
        .carousel-caption
          %p Yes. I play competitive kickball. And yes. We are really, really good.
      .item
        = image_tag 'bestman.png'
        .carousel-caption
          %p Doing my best man duties and preparing little brother for his big day.
      .item
        = image_tag 'nuts.png'
        .carousel-caption
          %p When you randomly discover Peterson Nut Company in Cleveland, you stop for a picture.
      .item
        = image_tag 'badinfluence.png'
        .carousel-caption
          %p It's just not safe for anyone if this kid is starting to follow after me at age 1.
      .item
        = image_tag 'wildcats.png'
        .carousel-caption
          %p When I came across this picture recently, I barely recognized myself (#13). What ever happened to my blond hair??
      .item
        = image_tag 'trophy.png'
        .carousel-caption
          %p If you are going to drink cheap champagne, it might as well be from the championship trophy.
      .item
        = image_tag 'longhair.png'
        .carousel-caption
          %p Occasionally, I forget to do real world things like check my mail and cut my hair for extended periods of time. This is the result.
      .item
        = image_tag 'locals.png'
        .carousel-caption
          %p This is how you blend in with the locals.
      .item
        = image_tag 'family.png'
        .carousel-caption
          %p We clean up very well :)
      .item
        = image_tag 'shark.png'
        .carousel-caption
          %p  I don't always pose for pictures with 350 lbs sharks, but when I do, I make sure they tied down tightly to the back of the boat and can't move.
      .item
        = image_tag 'grandcanyon.png'
        .carousel-caption
          %p That's correct. I am standing on the edge of the Grand Canyon in sandals, with a beer in my hand, trying not to let the wind knock me over.
      .item
        = image_tag 'beach.png'
        .carousel-caption
          %p This is by far my favorite outdoor activity of all time -- surfing, fishing, grilling, a fire and perhaps a cocktails or two.
      .item
        = image_tag 'boulder.png'
        .carousel-caption
          %p Having spent the 2012 Summer in Boulder, Colorado, I figured I would embrace the local culture and hike up the largest thing I could find. Success.
      .item
        = image_tag 'rv.png'
        .carousel-caption
          %p I drove across country in an RV for 10 days just so I could stand on the roof of it to pose for a great picture.
      .item
        = image_tag 'blonds.png'
        .carousel-caption
          %p We were good looking kids. Not sure what happened.
      .item
        = image_tag 'sunset.png'
        .carousel-caption
          %p Probably one of the coolest sunset / storm combinations that NJ has ever seen and I somehow got it on film. Victory.
      .item
        = image_tag 'flying.png'
        .carousel-caption
          %p Clearly, I'm still working on that whole learning how to fly thing.
      .item
        = image_tag 'hiking.png'
        .carousel-caption
          %p One most of the challenging / foolish things I've ever done. Decided to make my own trail up the side of a mountain by myself. The view was totally worth it.
      .item
        = image_tag 'taekwondo.png'
        .carousel-caption
          %p They made me spar against a girl in my first ever Tae-Kwon-Do tournament. I made her cry and won gold #competitive
      .item
        = image_tag 'sandiego.png'
        .carousel-caption
          %p Found a nice perch to watch the sunset in San Diego. Things are so different on the west coast.
      .item
        = image_tag 'pimps.png'
        .carousel-caption
          %p  I don't always break out the pimp outfit in public, but when I do I only wear my friend's mom's real fur coat.
      .item
        = image_tag 'racing.png'
        .carousel-caption
          %p This is my inner 12 year old boy struggling to be a real person. And yes, this was just taken in 2013.
      .item
        = image_tag 'snowboarding.png'
        .carousel-caption
          %p The day I retired Santa (my snowboard). We've been though a lot together, but it's time for a new board. Such a badass photo.
      .item
        = image_tag 'sailing.png'
        .carousel-caption
          %p Yeah, I was sailing a 40 foot sailboat with my grandpa at the age of 8. No big deal.
      .item
        = image_tag 'watson.png'
        .carousel-caption
          %p That is one good looking group of dudes right there.
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
    %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›