!!!
%html
  %head
    %title #{yield :title} JBP3
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            %li= link_to 'JBP3', root_path
            %li= link_to 'A Life of Pictures', pictures_path
            %li= link_to 'Blog', 'http://blog.jbp3.com'
            %li= link_to 'More coming soon...', more_path
    .container
      = yield